<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- End meta tags -->

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<!-- End Bootstrap CSS -->

<!-- Begin code -->
<div class="alert alert-primary text-center">This site is still under construction! Please check back later.</div>
<div class="container">
	<div class="row">
		<div class="col-md-12">
				<h1 class="text-center">Hello there!</h1>
				<h2 class="text-center">Welcome to Privatus, the diary app that puts privacy first.</h2><br><br>
		</div>
	</div>
	<div class="row">
			<div class="col-md-4">
				<p class="text-left">
					Research has shown the multiple benefits of keeping a diary. Luckily — thanks to the power of the Internet — there are multiple apps out there that enable you to keep a diary.  Blogger, WordPress, LiveJournal, you name it.  But have you wondered whether or not those companies handle your data carefully?  I mean, the default feature for entires from those sites are to publish directly to the public.  Enter Privatus.
				</p>
				<p class="text-left">
					I designed Privatus with the idea that you don't have to worry about who sees your entires, because the only person who will be able to see them is you!  Besides, isn't that how it should be?
				</p>
			</div>
		<div class="col-md-3">
			<p class="text-left">
				My philosophy has been the same since day one and has never been more simple: never, ever <strong>ever</strong> sell your customers' data.  I might toy with the idea of adversitements later on (one I'm able to figure out how to implement them and if this actually goes somewhere), but I don't want to be the courier of others' data to advertisers.  So, if there are ads, they won't be personalized. I'm sure you don't want marketers to know you're in the market for an electric nosehair trimmer. :)
			</p>
		</div>
		<div class="col-md-5">
			If you want to sign up for the beta of Privatus, then<br><center><a href="http://www.google.com"><button class="btn btn-primary align-center">Click here</button></a></center>
		</div>
	</div>
</div>

<!-- End code -->
<!-- Everything in the body must go before these JS inserts -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
